body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 100px;
    padding: 50px;
    text-align:center;
    background-image:url('background.jpeg');
    background-size: cover;
}

h1 {
    color: #333;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size:25px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
}
